<!-- ABOUT -->
<div class="page-section" id="about" ng-controller="MainController">
  <div class="row">
    <div class="col-md-12">
      <h4 class="widget-title">Over mij</h4>
        <div id="contentbox">
            <div class="column1" ng-repeat="education in educations" ng-if="$index > 0">
              <h1 class="kopje">{{ education.title }}</h1>
              <p class="naam">{{ education.name }}</p> 
              <p>te {{ education.location }}</p>
              <p><strong>Cursus:</strong> {{ education.course }}</p>
              <p><strong>Periode:</strong> {{ education.date }}</p>
              <p><strong>Diploma:</strong> {{ education.diploma }}</p>
              <br>
            </div>
            <br>
            
            <div class="column2" ng-repeat="course in courses" ng-if="$index > 0">
              <h1 class="kopje">{{ course.title }}</h1>
                <p class="naam">{{ course.name }}</p> 
                <p>te {{ course.location }}</p>
                <p>Periode: {{ course.date }}</p>
                <p>Cursus: {{ course.course }}</p>
                <p>Niveau: {{ course.level }}</p>
                <p>Diploma: {{ course.diploma }}</p>
                <br>
            </div>
            <br>
            <div class="column3"> 
              <div ng-repeat="skill in skills" ng-if="$index > 0">
                  <h1 class="kopje">{{ skill.title }}</h1>
                  <h2 class="naam">{{ skill.name }}</h2>
                  <p><strong>{{ skill.cat1 }}</strong>: {{ skill.lvl1 }}</p>
                  <p><strong>{{ skill.cat2 }}</strong>: {{ skill.lvl2 }}</p>
                  <p><strong>{{ skill.cat3 }}</strong>: {{ skill.lvl3 }}</p>
                  <p><strong>{{ skill.cat4 }}</strong>: {{ skill.lvl4 }}</p>
                  <p><strong>{{ skill.cat5 }}</strong>: {{ skill.lvl5 }}</p>
                  <br>
              </div>
              <br>
              <div ng-repeat="interest in interests">
                <h1 class="kopje">{{ interest.title }}</h1>
                <p>{{ interest.dog }}</p>
              </div>
            </div>
          </div>
        <hr>
    </div>
  </div> <!-- #about -->
</div>
             
