<!-- ABOUT -->
<div class="page-section" id="about" ng-controller="MainController">
  <div class="row">
    <div class="col-md-12">
      <h4 class="widget-title">Over mij</h4>
        <div id="contentbox">
          <div class="col-md-4 col-sm-6">
            <h1 class="kopje"><strong>Opleidingen</strong></h1>
            <br>
            <div ng-repeat="education in educations">
              <p class="naam">{{ education.name }}</p> 
              <p>te {{ education.location }}</p>
              <p><strong>Cursus:</strong> {{ education.course }}</p>
              <p><strong>Periode:</strong> {{ education.date }}</p>
              <p><strong>Diploma:</strong> {{ education.diploma }}</p>
              <br>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1 class="kopje">Cursussen</h1>
            <br>
              <div ng-repeat="course in courses">
                <p class="naam"><strong>{{ course.name }}</strong></p> 
                <p>te {{ course.location }}</p>
                <p><strong>Periode:</strong> {{ course.date }}</p>
                <p><strong>Cursus:</strong> {{ course.course }}</p>
                <p><strong>Niveau:</strong> {{ course.level }}</p>
                <p><strong>Diploma:</strong> {{ course.diploma }}</p>
                <br>
              </div>
            </div>
            <div class="col-md-4 col-sm-6"> 
              <h1 class="kopje">Vaardigheden</h1>
              <br>
                <div ng-repeat="skill in skills" ng-repeat-end ng-if="skill.length === 0">
                  <h2 class="naam">{{ skill.name }}</h2>
                  <p><strong>{{ skill.cat1 }}</strong>: {{ skill.lvl1 }}</p>
                  <p><strong>{{ skill.cat2 }}</strong>: {{ skill.lvl2 }}</p>
                  <p><strong>{{ skill.cat3 }}</strong>: {{ skill.lvl3 }}</p>
                  <p><strong>{{ skill.cat4 }}</strong>: {{ skill.lvl4 }}</p>
                  <p><strong>{{ skill.cat5 }}</strong>: {{ skill.lvl5 }}</p>
                  <br>
                </div>
              <br>
              <h1 class="kopje">{{ interest.title }}</h1>
                <p>{{ interest.dog }}</p>
              </div>
            </div>
          </div>
        <hr>
    </div>
  </div> <!-- #about -->
</div>
             
