<!-- SIDEBAR -->
<div  ng-controller="MainController">
  <div class="sidebar-menu hidden-xs hidden-sm">
    <div class="top-section">
      <div class="profile-image">
        <a href="#top">
          <img src="{{ gegevens.icon }}" alt="Profielfoto">
        </a>
      </div>
      <h3 class="profile-title">{{ title }}</h3>
        <p class="profile-description">{{ gegevens.name }}</p>
    </div> <!-- top-section -->
    <div class="main-navigation">
      <ul class="navigation">
        <li><a href="#top"><i class="fa fa-globe"></i>Home</a></li>
        <li><a href="#about"><i class="fa fa-pencil"></i>Over mij</a></li>
        <li><a href="#projects"><i class="fa fa-paperclip"></i>Werkervaring</a></li>
        <li><a href="#contact"><i class="fa fa-link"></i>Contact</a></li>
      </ul>
    </div> <!-- .main-navigation -->
    <div class="social-icons">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div> <!-- .social-icons -->
  </div> <!-- .sidebar-menu -->
          

  <div class="banner-bg" id="top">
      <div class="banner-overlay"></div>
          <div class="welcome-text">
              <h2>{{ gegevens.name }} | {{ gegevens.title }}</h2>
                <table class="gegevens">
                  <tr>
                    <th>Geboortedatum:</th>
                    <td>{{ gegevens.dateofbirth | date }}</td>
                  </tr>
                  <tr>
                    <th>Nationaliteit:</th>
                    <td>{{ gegevens.nationality }}</td>
                  </tr>
                  <tr>
                    <th>Adres:</th>
                    <td>{{ gegevens.adress }}</td>
                  </tr>
                    <th>E-mail:</th>
                    <td>{{ gegevens.email }}</td>
                  <tr>
                    <th>Telefoon:</th>
                    <td>{{ gegevens.phone }}</td>
                  </tr>
                </table>
          </div>
      </div>
  </div>
</div>
